.input {
    padding    : 15px;
    border     : 1px solid #e6e6e6;
    box-sizing : border-box;
    width      : 100%;
    font-size  : 20px;
    line-height: 20px;
    font-family: inherit;
    outline    : none;

    &:hover {
        border: 1px solid #cfcfcf;
    }

    &:active,
    &:focus {
        border: 1px solid #5eaa2f;
    }

    &.error {
        border: 1px solid #C8102E;
    }
}
